html {
    scroll-behavior: smooth;
  }

* {
    transition: all 0.3s ease;
}

/* Reset some browser default styles for consistency */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ecef;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  color: #8e9aaf;
  padding: 16px 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid #ffcad4;
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
  text-align: center;
  color: #b4d0e7;
}

.analytics p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.analytics strong {
  color: #8e9aaf;
}

.recent-data-box {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.recent-data-box thead {
  background-color: #ffcad4;
}

.recent-data-box th, .recent-data-box td {
  padding: 10px 15px;
  border: 1px solid #d1d5db;
  text-align: left;
}

.recent-data-box tr:nth-child(even) {
  background-color: #E6FFDD;
}

a {
  color: #8e9aaf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #ffcad4;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #8e9aaf;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Spacing between items */
}

.nav-list li a {
  color: #8e9aaf;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-list li a:hover {
  background-color: #E6FFDD;
}

.button-primary {
  background-color: #E6FFDD;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #8e9aaf;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #D1FFC2; /* A slightly lighter shade for hover */
}

.section-highlight {
  border-left: 4px solid #E6FFDD;
  padding-left: 10px;
}

.highlighted-section {
  background-color: #E6FFDD;
  padding: 20px;
  border-radius: 5px;
}
a, button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Other styles ... */
}

a:hover, button:hover {
  background-color: #eed2d8 /* slightly darker or lighter shade */;
  transform: translateY(-3px); /* provides a subtle lift effect */
}
