:root {
  --primary-bg-color: #fff; /* White for primary background */
  --primary-color: #000; /* Black for primary text color */
  --secondary-bg-color: #f0f0f0; /* Light gray for secondary backgrounds */
  --accent-color: #4CAF50; /* An accent color, choose something minimalistic */
  --font-family-sans: 'Arial', sans-serif; /* A clean, modern sans-serif font */
  --font-family-mont: 'Georgia', serif; /* An elegant serif font for contrast, if needed */
  --nav-height: 60px; /* Default navbar height, adjust as needed */
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s ease;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  color: #333;
}

p {
  margin-bottom: 1em;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: var(--font-family-sans);
  line-height: 1.6; /* Spacing between lines of text */
}

#btcChart {
  width: 100%;
 /* max-width: 800px;  Adjust as needed */
  height: 400px;
}

#chart-container {
  width: 100%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
}

h1, h2 {
  color: var(--accent-color); /* Accent color for headings */
  /* Other styles */
}

h1 {
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid var(--secondary-bg-color);
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
  text-align: center;
}

.analytics p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

.analytics strong {
  color: var(--primary-color);
}

.btn {
  background: var(--accent-color); /* Using the accent color */
  color: #fff;
  padding: 2px 5px;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: darken(var(--accent-color), 10%); /* Darken on hover */
}

.container {
  width: 90%;
  max-width: 1200 px;
  margin: 0 auto;
  padding: 20px;
}

.exchange-rankings table {
  width: auto;
  max-width: 80%;
  border-collapse: collapse;
  margin: 20px auto; /* Centers the table to the page */
}

.exchange-rankings th, .exchange-rankings td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid var(--secondary-bg-color);
}

.exchange-rankings th {
  background-color: var(--primary-color);
  color: white;
}

.exchange-rankings td {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.exchange-rankings tr:nth-child(even) td {
  background-color: var(--secondary-bg-color);
}

.exchange-rankings tr:hover td {
  background-color: var(--accent-color);
  color: white;
}

.recent-data-box {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.recent-data-box thead {
  background-color: var(--secondary-bg-color);
}

.recent-data-box th, .recent-data-box td {
  padding: 10px 15px;
  border: 1px solid #d1d5db;
  text-align: left;
}

.recent-data-box tr:nth-child(even) {
  background-color: var(--primary-bg-color);
}

a, .nav-list li a, .button-primary {
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover, .nav-list li a:hover, .button-primary:hover {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  transform: translateY(-3px);
}

.navbar, .nav-list li a:hover {
  background-color: var(--secondary-bg-color);
}

.info-section {
  background-color: #fff; /* For contrast against the primary background */
  padding: 20px;
  margin-bottom: 40px; /* Space between sections */
  border-radius: 8px; /* Softens the corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.info-section h1, .info-section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--primary-color); /* Using the primary color for headers */
}

.info-section p {
  margin-bottom: 1em;
  line-height: 1.6; /* Enhances readability */
  max-width: 90%; /* Wider on smaller screens */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: justify;
}

.info-section .subsection {
  margin-bottom: 2em;
}

.info-section .subsection h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.info-section .subsection p {
  text-align: justify; /* Aligns text for a clean appearance */
}

.info-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.info-section li {
  margin-bottom: 1em;
  line-height: 1.6; /* Enhances readability */
  max-width: 90%; /* Wider on smaller screens */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: justify;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: relative; /* Needed for absolute positioning of children */
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

.nav-list {
  display: none; /* Hide initially and show on active */
  flex-direction: column;
  position: absolute;
  background-color: #fff; /* Dropdown background */
  width: 20%; /* Full width */
  max-width: 300px;
  right: 0; /* Aligns the dropdown menu to the right */
  top: 60px; /* Adjust based on the navbar's height */
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  opacity: 0; /* Start hidden */
  transform: scaleY(0); /* Initially scaled down */
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for both transform and opacity */
}

.nav-list div {
  text-align: center;
  border-bottom: 1px solid #ddd;
  opacity: 0; /*start with invisible links */
  transform: translateY (-20px);
  transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
  list-style-type: none;
  padding: 15px 20px;
}

.nav-list.active {
  display: block; /* Ensures it's visible */
  animation: dropdownAnimation 0.5s ease forwards; /* Apply the animation */
  transform: scaleY(1);
  opacity: 1; /* Make it fully visible */
}

.nav-list.active div {
  opacity: 1; /* Fade in links */
  transform: translateY(0);
  transition-delay: 0s; /* No delay when hiding */
}

/* Hover effect for menu items */
.nav-list div:hover {
  background-color: #f7f7f7; /* Slight change on hover */
}

.button-primary {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Additional button styling */
}

button:hover {
  background-color: var(--accent-color);
  /* Hover effect */
}

.section-highlight, .highlighted-section {
  border-left: 4px solid var(--primary-bg-color);
  padding-left: 10px;
}

.highlighted-section {
  background-color: var(--primary-bg-color);
  padding: 20px;
  border-radius: 5px;
}

.hero-section {
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: var(--nav-height);
  position: relative;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grid-container div {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color); /* Semi-transparent white, adjust as needed */
}

.grid-container div:nth-child(odd) {
  border-radius: 50%; /* Circle shapes */
  background-color: var(--secondary-bg-color); /* One color for odd cells */
}

.grid-container div:nth-child(even) {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Diamond shapes */
  background-color: var(--accent-color); /* A different color for even cells */
}

.data-card {
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light border */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.overlay-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust color and opacity as needed */
  z-index: 2000; /* High value to ensure it is on top */
  transform: translateX(100%); /* Start off-screen */
  transition: transform 0.3s ease;
}

.overlay-container.active {
  display: block;
  transform: translateX(0); /* Slide in */
}

.logo {
  position: relative;
  width: auto;
}

.logo-title-container {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center;
}

.logo img {
  max-width: 100%;
  height: auto; /* Keeps the aspect ratio */
  width:auto; /* Maintain width to scale */
}

.title {
  margin: 0; /* Remove default margin */
  font-size: 2.0em; /* Adjust as needed */
  font-family: var(--font-family-sans);
  font-weight:bold;
  /* Additional styling for your title */
}

.mission-statement {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically in the container */
  align-items: center; /* Center items horizontally */
  position: relative;
  height: 900px;
  /* Other styles... */
}

.mission-statement p {
  margin-bottom: 20px;
  line-height: 2; /* Enhances readability */
  max-width: 60%; /* Wider on smaller screens */
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 1.2 em; /* Easier to read */
}

.mission-card {
  background-color: #fff; /* White background */
  border: 1px solid #ddd; /* Light border */
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px; /* Slightly rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: relative;
}


/* Close button 'X' */
.close-button {
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer;
  border: none;
  background-color: var(--primary-color); /* Background color */
  color: var(--secondary-bg-color); /* Color of the 'X' */
  width: 40px; /* Width of the button */
  height: 40px; /* Height of the button */
  border-radius: 50%; /* Makes it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px; /* Adjust position as needed */
  right: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transition for spinning and background color */
}

.close-button:hover {
  transform: rotate(180deg); /* Rotate the 'X' on hover */
  background-color: var(--accent-color); /* Background color change on hover, similar to other buttons */
}

.close-button svg {
  fill: currentColor; /* Inherit color from button */
}

/* Hamburger Menu Icon */
#hamburger-menu {
  cursor: pointer;
  display: block; /* Always visible */
  position: absolute; /* or you can keep it in the normal document flow if using flexbox */
  top: 20px; /* Adjust as needed */
  right: 20px;
  z-index: 2000;
  /* Add styling for the hamburger lines */
}

#hamburger-menu span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: var(--primary-color); /* Or use your primary color */
  margin-bottom: 4px;
  transition: all 0.3s ease;
}

/* Full-Page Overlay for Navigation */
#nav-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  z-index: 1500; /* Behind the hamburger menu */
  transition: all 0.3s ease;
}

/* Overlay Active State */
#nav-overlay.active {
  display: block;
}

@keyframes dropdownAnimation {
  from {
      opacity: 0;
      transform: scaleY(0);
  }
  to {
      opacity: 1;
      transform: scaleY(1);
  }
}

/* For larger screens */
@media (min-width: 768px) { 
  .hero-section {
    padding-top: 0; /* If the navbar is not fixed, you can remove the padding-top at larger screens */
  }
  
  .info-section p, .info-section li {
    max-width: 75%; /* Narrower on larger screens */
  }

  .exchange-rankings table {
    width: 100%;
    overflow-x: auto; /* Allows table to be scrollable horizontally */
  }
  .nav-list {
    width: 100%; /* Full width on smaller screens */
    transform: scaleY(0); /* No horizontal translation needed */
  }

  .recent-data-box {
    width: 100%;
    overflow-x: auto;  
  }
}
/* max-width 915 + 1 to fit larger densities*/
@media (max-width: 916px) and (-webkit-device-pixel-ratio: 2),
       (max-width: 916px) and (min-device-pixel-ratio: 2),
       (max-width: 916px) and (-webkit-device-pixel-ratio: 3),
       (max-width: 916px) and (min-device-pixel-ratio: 3),
       (max-width: 916px) and (-webkit-device-pixel-ratio: 4),
       (max-width: 916px) and (min-device-pixel-ratio: 4) { 
      /* Styles for smaller, high-density screens */
    
    .recent-data-box td:before {
      content: attr(data-title);
      position: absolute;
      left: 10px;
      font-weight: bold;
      /* Additional styling as necessary */
    }
    .recent-data-box td {
      /* Ensure there's enough space for the pseudo-content */
      padding-left: 50%;
      text-align: right;
      position: relative;
    }

    .exchange-rankings table, .recent-data-box {
      width: 100%;
      border-collapse: collapse;
      overflow-x: auto; /* In case there's any overflow */
      display: block; /* Makes the table behave like a block element */
    }

    .exchange-rankings thead, .recent-data-box thead,
    .exchange-rankings tbody, .recent-data-box tbody,
    .exchange-rankings th, .recent-data-box th,
    .exchange-rankings td, .recent-data-box td,
    .exchange-rankings tr, .recent-data-box tr {
        display: block;
    }
    
    .exchange-rankings th, .recent-data-box th {
      display: none; /* Hide column headers on small screens */
    }

    .exchange-rankings thead, .recent-data-box thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .exchange-rankings tr, .recent-data-box tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .exchange-rankings td, .recent-data-box td {
      /* Each cell behaves like a block with a pseudo-label */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .exchange-rankings td:before, .recent-data-box td:before {
        /* Here you label each cell with the column name */
        /* Pseudo-label derived from data-title attributes */
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    .logo {
      width: 50%; /* or any other appropriate size */
      max-width: 150px; /* maximum size */
      height: auto; /* maintain aspect ratio */
      display: block;
      margin: 0 auto; /* center the logo */
    }
  
    #hero-logo {
      width: 30vh; /* viewport look instead */
      height: 30vh;
      display: block;
      margin: 0 auto; /* center logo */
      /* specific to hero section opening logo */
    }

    .mission-statement {
      height: auto;
      display: block;
    }
       }