<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- CSS, Chartjs, jQuery, and date-adapter are all in webpack bundle.js -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HX3D3ELCKN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HX3D3ELCKN');
    </script>
    
    <!-- Google AdSense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6284049188665899"
    crossorigin="anonymous"></script>

    <!-- Favicon.png link-->
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
</head>
<body>
    
<div class="nav-container">
    <div class="logo-title-container">
        <a href="/" class="logo">   
            <img src="{{ url_for('static', filename='images/logohold.png') }}" alt="Logo">
        </a>
        <a href="/">
        <h3>CRYPTICK.XYZ</h3>
        </a>
    </div>
    <!-- Hamburger Icon -->
    <div id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Drop down menu -->
    <ul class="nav-list" id="nav-links">
        <div><a href="/">Home</a></div>
        <div><a href="{{ url_for('main.about') }}">About</a></div>
        <div><a href="{{ url_for('main.dhu') }}">Usage</a></div>
        <div><a href="{{ url_for('main.mission') }}">Mission</a></div>
        <!-- Add other nav items as needed -->
    </ul>
</div>    
    
{% block content %}
<!-- Default content, which will typically be replaced in templates that extend this one -->  
{% endblock %}  
    
{% block data %}
<!-- Data block -->
{% endblock %}
    
<div id="overlay-container" class="overlay-container">
<!-- Content that will be dynamically inserted goes here-->
</div>

<!-- Webpack bundle dist startup, put at the end to parse all html first-->
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>
</html>