{% extends "base.html" %}

{% block title %}
Cryptick | Ahead of The Curve
{% endblock %}

{% block content %}
<h2 class="animate__animated animate__fadeIn">BTC Price Chart</h2>

<canvas id="btcChart" width="800" height="400"></canvas>
<!-- You can place a smooth-scroll anchor here if needed -->

<section class="exchange-rankings data-card">
    <h2>Exchange Rankings</h2>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Exchange</th>
                <th>Price</th>
                <th>Δ H-Current</th>
            </tr>
        </thead>
        <tbody id="rankings-body">
            <!-- Initial rows can be empty or placeholders -->
            <tr>
                <td data-label="Rank"></td>
                <td data-label="Exchange"></td>
                <td data-label="Price"></td>
                <td data-label="Δ H-Current"></td>
            </tr>
            <!-- More rows added dynamically -->
        </tbody>
    </table>
</section>


{% endblock %}

{% block data %}
<button class="button" id="show-analysis-button" >View Detailed Analysis</button>

<button class="button" id="show-data-button">View Raw Data</button>
{% endblock %}

{% block scripts %}

{% endblock %}