<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head section -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HX3D3ELCKN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HX3D3ELCKN');
    </script>
    <!-- Google AdSense-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6284049188665899"
    crossorigin="anonymous"></script>
    <title>Mission</title>
    <!-- Favicon.png link-->
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
</head>
<body>
<!-- Hero section goes here -->
<section class="hero-section">
    <a href="/" id="hero-logo" class="logo">   
        <img src="{{ url_for('static', filename='images/logohold.png') }}" alt="Logo">
    </a>   
    <h1>Cryptick | Ahead of The Curve</h1> 
    <p>Your insightful crypto analytics platform</p>
    <div class="hero-buttons">
        <a href="{{ url_for('main.index')}}" class="btn">Home</a>
        <!-- Placeholder buttons for future sections -->
        <a href="{{ url_for('main.about') }}" class="btn">About</a>
        <a href="{{ url_for('main.dhu') }}" class="btn">Usage</a> <!--Data handling and Usage (DHU) -->
            <!-- <div class="grid-container"> </div> -->
    </div>
</section>


<h2>
    Our Mission
</h2>

<div class="mission-statement">
    
    <p class="mission-card"> At Cryptick.xyz, we empower the savvy crypto trader with the ultimate tool for real-time market analysis. 
        Our mission is to demystify the complex world of cryptocurrency data, making it accessible, understandable, 
        and actionable for those who grasp the market but not the maze of technical analysis. 
    </p>
   
    <p class="mission-card">
        Our platform stands out as a beacon in the crypto trading world, offering not just historical data, but live insights 
        and analysis across a growing spectrum of cryptocurrencies and exchanges. We take pride in delivering information that is 
        not only immediate but also rich in analytical depth – all without the need for technical expertise in data analysis or programming.
    </p>
    
    <p class="mission-card">
        We are committed to evolving with the market, continuously expanding our range of coins, tokens, and the depth of our analysis. 
        The future of Cryptick.xyz is ambitious, aiming to incorporate advanced AI and machine learning techniques to offer even more nuanced and predictive insights, 
        all presented in a user-friendly format.
    </p>
    
    <p class="mission-card">
        For the crypto trader who understands the market but seeks a partner in the analytical journey, Cryptick.xyz is more than just a platform; it's a bridge to smarter, 
        more informed trading decisions, helping you stay one step ahead in the dynamic world of cryptocurrency.
    </p>
</div>

<!-- Webpack bundle dist startup, put at the end to parse all html first-->
<script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>
</html>